.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
     
    .section {
      &.section-1 {
        grid-column: span 1;
      }
      &.section-2 {
        grid-column: span 2;
      }
      &.section-3 {
        grid-column: span 2;
      }
      &.section-4 {
        grid-column: span 1;
      }
      
      .content {
        background-color: blue;
        padding: 10px;
      }
    }
  }