<!-- TODO: Toggle Mode -->
<div class="bg-z-index-dark"></div>
<!-- ----------------- -->
<main class="main">
  <div class="container">
    <div class="dtl-container">
      <div class="dtl-container__personal">
        <!-- Section 1 : Personal -->
        <div class="section section-1" data-swapy-slot="foo">
          <div class="content content-a" data-swapy-item="a">
            <div class="inside-content">
              <div class="inside-content__name-state">
                <img
                  class="profile-picture"
                  src="assets/1_pfp.jpg"
                  alt="Foto de Perfil"
                />
                <p class="badge">Open to work</p>
              </div>
              <p class="greeting">Hi! My name is <span>Bruno Griffone</span></p>
              <p>
                Velit adipiscing faucibus at leo.
                <b>Ingeniería en Sistema - UTN</b> quis non. Suspendisse nibh
                arcu scelerisque massa sed elit. Sit semper porttitor eget vitae
                non viverra. Commodo id amet curabitur eget.
              </p>
            </div>
          </div>
        </div>
        <!-- Section 2 : Social Media -->
        <div class="section section-2" data-swapy-slot="bar">
          <div class="content content-b" data-swapy-item="b">
            <div class="inside-content__media">
              <a href="https://github.com/griffone" target="_blank">
                <div class="media">
                  <img src="assets/icons/mdi_github.svg" alt="GitHub" />
                </div>
              </a>
              <a href="https://www.linkedin.com/in/bruno-griffone-30908b22b/" target="_blank">
                <div class="media">
                  <img src="assets/icons/mdi_linkedin.svg" alt="LinkedIn" />
                </div>
              </a>
              <a href="https://www.instagram.com/brunogriffone5" target="_blank">
                <div class="media">
                  <img src="assets/icons/mdi_instagram.svg" alt="Instagram" />
                </div>
              </a>
              <a href="mailto:brunogriffone15@gmail.com">
                <div class="media">
                  <img src="assets/icons/cib_gmail.svg" alt="Gmail" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-3" data-swapy-slot="baz">
        <div class="content content-c" data-swapy-item="c">
          Element 3 -> Projects
        </div>
      </div>
    </div>

    <div class="dtr-container">
      <div class="dtr-container__exp-cont">
        <div class="section section-4" data-swapy-slot="qux">
          <div class="content content-d" data-swapy-item="d">
            <h1 class="h1-title" style="margin-bottom: 15px;">Experience</h1>
            <div class="experience">
              <div class="work-element">
                <h2>Frontend Developer</h2>
                <h3>VirtualDEV - Argentina</h3>
                <p class="date">Aug 2023 - Mar 2024</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur. Nulla hac ante nisl magna pretium duis egestas euismod. Sed magna sit sit faucibus velit. Odio placerat quis nibh mattis morbi arcu est eget. Eget morbi dis hac est facilisis pellentesque.</p>
              </div>
              <div class="work-element">
                <h2>Angular Developer</h2>
                <h3>Tierra de Bodegas - Argentina</h3>
                <p class="date">MMM AAAA - MMM AAAA</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur. Dignissim vitae in eu vel morbi donec diam.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section section-4" data-swapy-slot="mda">
          <div class="content content-e" data-swapy-item="e">
            Element 5 -> Contact
          </div>
        </div>
      </div>

      <div class="section section-4" data-swapy-slot="ang">
        <div class="content content-f" data-swapy-item="f">
          Element 6 -> Skills
        </div>
      </div>

      <div class="section section-4" data-swapy-slot="ula">
        <div class="content content-g" data-swapy-item="g">
          Element 7 -> Side Project (Flow Insight)
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
