<!-- TODO: Toggle Mode -->
<div class="bg-z-index-dark"></div>
<!-- ----------------- -->
<main class="main">
  <div class="container">
    <div class="dtl-container">
      <div class="dtl-container__personal">
        <div class="section section-1" data-swapy-slot="foo">
          <div class="content content-a" data-swapy-item="a">
            <div class="inside-content">
              <div class="inside-content__name-state">
                <img
                  class="profile-picture"
                  src="assets/1_pfp.jpg"
                  alt="Foto de Perfil"
                />
                <p class="badge">Open to work</p>
              </div>
              <p class="greeting">Hi! My name is <span>Bruno Griffone</span></p>
              <p>
                Velit adipiscing faucibus at leo.
                <b>Ingeniería en Sistema - UTN</b> quis non. Suspendisse nibh
                arcu scelerisque massa sed elit. Sit semper porttitor eget vitae
                non viverra. Commodo id amet curabitur eget.
              </p>
            </div>
          </div>
        </div>
        <div class="section section-2" data-swapy-slot="bar">
          <div class="content content-b" data-swapy-item="b">
            <div class="inside-content__media">
              <div class="media">
                <img src="assets/icons/mdi_github.svg" alt="GitHub" />
              </div>
              <div class="media">
                <img src="assets/icons/mdi_linkedin.svg" alt="LinkedIn" />
              </div>
              <div class="media">
                <img src="assets/icons/mdi_instagram.svg" alt="Instagram" />
              </div>
              <div class="media">
                <img src="assets/icons/cib_gmail.svg" alt="Gmail" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-3" data-swapy-slot="baz">
        <div class="content content-c" data-swapy-item="c">
          Element 3 -> Projects
        </div>
      </div>
    </div>

    <div class="dtr-container">
      <div class="dtr-container__exp-cont">
        <div class="section section-4" data-swapy-slot="qux">
          <div class="content content-d" data-swapy-item="d">
            Element 4 -> Experience
          </div>
        </div>

        <div class="section section-4" data-swapy-slot="mda">
          <div class="content content-d" data-swapy-item="e">
            Element 5 -> Contact
          </div>
        </div>
      </div>

      <div class="section section-4" data-swapy-slot="ang">
        <div class="content content-d" data-swapy-item="f">
          Element 6 -> Skills
        </div>
      </div>

      <div class="section section-4" data-swapy-slot="ula">
        <div class="content content-d" data-swapy-item="g">
          Element 7 -> Side Project (Flow Insight)
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
